.OCRJPN{
    font-family: Arial;
}

/* jQuery UI buttons */

/* default webkit button styles. a lot of these get overwritten by jQuery UI, but just the fact that we are inserting content on top of other CSS means that we have to be really careful about starting with a solid base to ensure that our content looks roughly the same across websites.*/
.OCRJPN button{
    outline: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 1px 6px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    -webkit-appearance: button;
    margin: 0em;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.OCRJPN button:active{
    border-style: inset;
}

.OCRJPN .ui-button{
    width: 20px;
    height: 20px;
}

.OCRJPN .ui-icon {
    width: 16px;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    /*background-image: url('chrome-extension://__MSG_@@extension_id__/jquery-ui-1.10.3.custom/css/no-theme/ui-icons_888888_256x240.png');*/
    /* development only */
    /*background-image: url('ui-icons_888888_256x240.png'); */
}

#OCRJPNocrThis{
    width: 100%;
}

/* icon credit: http://sixrevisions.com/freebies/icons/375-retina-display-ready-icons/*/
.OCRJPN .ui-icon-check{
    /*background-position: -65px -145px;*/
    background: url("chrome-extension://__MSG_@@extension_id__/images/camera.png") no-repeat;
    /*background: url("images/camera.png") no-repeat;*/
    background-size: 14px 14px;
    margin-left: -7px;
}

.OCRJPN .ui-dialog-titlebar-close{
    /* lines up veritcally with ocrwindow */
    right: 14px;
}

/* icon credit: http://sixrevisions.com/freebies/icons/375-retina-display-ready-icons/*/
.OCRJPN .ui-icon-closethick {
    /*background-position: -96px -128px;*/
    background: url("chrome-extension://__MSG_@@extension_id__/images/multiply.png") no-repeat;
    /*background: url("images/multiply.png") no-repeat;*/
    background-size: 16px 16px;
}

#OCRJPNdictionary{
    margin-right: 5px;
}

.OCRJPN .ui-icon-book {
    /*background-position: -96px -128px;*/
    background: url("chrome-extension://__MSG_@@extension_id__/images/book3.png") no-repeat;
    /*background: url("images/book3.png") no-repeat;*/
    background-size: 16px 16px;
}

.OCRJPN .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 21px;
    margin: -10px 0px 0px;
    padding: 1px;
    height: 20px;
}

/* kanjiinfo close button */
#OCRJPNkanjiinfo .ui-dialog-titlebar-close, #OCRJPNdictionary{
    float: right;
}

#OCRJPNkanjiinfoclose{
    right: 0.1em;
}

/* Dialog */

.OCRJPN.ui-dialog{
    box-shadow: rgb(136, 136, 136) -5px 5px 15px;
    padding: 0;
    z-index: 1000000000;
    border-radius: 15px;
    border: 1px solid #888888;
}

.OCRJPN .ui-dialog-titlebar, .OCRJPN.ui-dialog #OCRJPNdialogtext{
    background: rgba(186, 236, 255, 0.8);
}

/* div */
.OCRJPN .ui-dialog-titlebar{
    padding: 7px 14px;
    border-bottom: none;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* span */
.OCRJPN .ui-dialog-title{
    width: 100%;
    text-align: left;
    font-size: 18px;
    /* lines up veritcally with ocrwindow */
    /*padding-left: 8px;*/
}

.OCRJPN.ui-dialog #OCRJPNdialogtext{
    margin: 0;
    display: block;
    padding: 0 14px;
}

/* dialogtext + windowwrapper */
#OCRJPNdialog{
    padding: 0;
    overflow: hidden;
}

#OCRJPNwindowwrapper{
    border: 15px rgba(186, 236, 255, 0.8) solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#OCRJPNocrwindow{
    height: 100px;
    border: 1px #888888 solid;
}

/* Kanji Info Pane */
div#OCRJPNkanjiinfo{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: Arial;
    z-index: 1000000000;
    cursor: move;
    background: #0083ca;
    max-width: 300px;
}

div#OCRJPNkanjiinfo, .OCRJPNcandidate{
    border: 1px white solid;
    padding: 5px;
}

/* where the response from the server goes */
#OCRJPNtext{
    padding-top: 5px;
    position: relative;
    text-align: left;
}

#OCRJPNresultwrapper{
    font-size: 32px;
    overflow: hidden;
    margin-top: 20px;
    clear: both;
}

.OCRJPNresult{
    cursor: text;
}

.OCRJPNcandidate{
    background: #00aeef;
}

.candidateWrapper{
    display: block;
    position: absolute;
    top: -5px;
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.OCRJPNcandidate:hover{
    background: #f9a01b;
}

.OCRJPN .ui-resizable-se {
    left: 100%;
    right: -5px;
    bottom: -5px;
}

.OCRJPNresult::selection {
    background: #f9a01b; /* Safari */
    }

.OCRJPNdeflist, .OCRJPNdeflist li{
    list-style: decimal inside none;
}

#OCRJPNdictwrapper, .OCRJPNdeflist, .OCRJPNmessage{
    text-align: left;
    font-size: 14px;
}

.OCRJPNdictkanji, .OCRJPNreadings{
    font-size: 18px;
}

.OCRJPNdictkanji{
    border-top: 1px white solid;
}